<ul>
  <% d_errors = devise_error_messages! %>
  <% unless d_errors.blank? %>
  <li>
		<%= devise_e %>
	</li>
  <% end %>
  <li>
    <h3>with your institutional account</h3>
  </li>
  <% login_links = get_shibboleth_login_links( user_omniauth_shibboleth_path ) %>
  <% login_links.each do |ll| %>

    <li>
      <div class="institution_login_link">
        <%= link_to ll[0], ll[1], :class => "a-orange" %>
      </div>
    </li>

  <% end %>
  <li>
    <h3>or..</h3>
  </li>
  <li>
    <%= link_to('Sign in with ORCID', user_omniauth_authorize_path(:orcid)) %>
  </li>
  <li>
    <%= link_to('Sign in with local account',user_session_path) %>
  </li>
</ul>
