/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require jquery.ui.all
 *= require_self
 *= require bootstrap.css
 *= require bootstrap_and_overrides.css.less
 *= require select2.css
 */
footer a#footer_right_dcc {
  float: right !important;
  width: 26% !important;
}
footer a#footer_right_jisc {
  float: right !important;
  width: 12% !important;
  padding-right: 5px;
}
h3 a, h3 a:hover, h3 a:visited {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
/* make room for the textarea! */
form.edit_guidance table.dmp_details_table td:last-child {
  width: 600px;
}
form.phase_details_body table.dmp_details_table td:last-child {
  width: 600px;
}
form.edit_version table.dmp_details_table td:last-child {
  width: 600px;
}
form.edit_dmptemplate table.dmp_details_table td:last-child {
  width: 600px;
}
form.edit_phase table.dmp_details_table td:last-child {
  width: 600px;
}
div.phase_details_body form table.dmp_details_table td:last-child {
  width: 600px;
}


a.orcid-link {
  text-decoration: none !important;
  color: #338caf !important;
  font-family: 'Noto Sans',sans-serif !important;
  font-style: normal !important;
}
a.orcid-link:hover, a.orcid-link:active, a.orcid-link:focus, a.orcid-link:visited {
  outline: 0 !important;
  text-decoration: none !important;
  font-family: 'Noto Sans',sans-serif !important;
  font-style: normal !important;
  color: #a6ce39 !important;
}
button.orcid-btn {
  border: 1px solid #D3D3D3;
	padding: .3em;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 3px #999;
	cursor: pointer;
	color: #999;
	font-weight: bold;
	font-size: .8em;
	line-height: 24px;
	vertical-align: middle;
}
button.orcid-btn:hover {
  border: 1px solid #338caf;
	color: #338caf;
}
ul.list-simple {
  list-style-type:disc !important;
  padding-left:1.5em !important;
}
.inline-title {
  padding-top: 1em;
  padding-bottom: 1em;
}

.accordion-group a, .accordion-group a:hover, .accordion-group a:visited, .accordion-group a:focus {
  color: white !important;
}
