<!--edit comment to question. comment passed as argument-->

<%= form_for(comment, :url => {:controller => :comments, :action => :update } , :html => { :method => :put, :class => "edit_comment_form", :id=> "edit_comment_form_#{comment.id}"}) do |f| %>
  <%= f.hidden_field :id, :value => comment.id %>
  <%= f.text_area :text, :value => comment.text, :class => "comment", :required => true, :rows => 8 %>
	<br/>
	<!-- submit buttons -->
	<div class="move_2_right">
		<%= f.submit t("helpers.submit.save"), :class => "btn btn-primary edit_comment_submit_button" %>
	</div>
  </br>
<%end%>
